.App {
  position: relative;
  width: 1440px;
  height: 1100px;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  position: absolute;
  height: 100vh;
  width: 250px;
  background-color: #2f4050;
  transition: left;
  position: fixed;
  overflow: auto;
}

.SidebarList {
  width: 100%;
  padding: 0;
}

.SidebarList .row {
  width: 100%;
  height: 50px;
  text-decoration: none;

  list-style-type: none;
  margin: 0%;
  display: flex;

  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Sidebar .row:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active {
  background-color: #293846;
}

.content {
  position: absolute;
  left: 255px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  /* grayscale / bg */

  background: #ebebeb;
}

.tr_center {
  text-align: center;
}

.table_style {
  border: 1;
}

.table_toppad {
  padding-top: 10px;
}

.content_frame {
  position: absolute;
  height: 1000px;
  left: 0px;
  right: 0px;
  top: 120px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.content_frame2 {
  position: absolute;
  height: 1000px;
  left: 0px;
  right: 0px;
  top: 500px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header_frame {
  position: fixed;
  height: 44px;
  left: 285px;
  right: 33px;
  top: 30px;
}

.header_frame_title {
  position: absolute;
  height: 34px;
  left: 0px;
  right: 351px;
  top: calc(50% - 34px / 2 + 1px);

  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.3px;

  /* grayscale / black */

  color: #252733;
}

.first_table {
  position: absolute;
  height: 308px;
  left: 283px;
  right: 77px;
  top: 180px;
  color: #f7f8fc;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.second_table {
  position: absolute;
  height: 308px;
  left: 283px;
  right: 77px;
  top: 582px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sidebar_admin_title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  /* identical to box height */

  letter-spacing: 0.4px;

  /* sidebar / gray */

  color: #a4a6b3;
  opacity: 0.7;
}
.sidebar_line_name {
  /* 멤버관리 ,명단관리 색깔 나타냄*/
  color: #f7f8fc;
}
